# Assignment: Part 1

**Import libraries**

In [24]:
import pandas as pd
import numpy as np

**Scrap data**

In [25]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)

**Create dataframe**

In [46]:
df = dfs[0]
indexNames = df[df['Borough'] == 'Not assigned' ].index

#Ignore cells with a borough that is Not assigned
df.drop(indexNames , inplace=True)
df.reset_index(drop=True, inplace=True)

#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned' , df['Borough'], df['Neighbourhood'])

df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [27]:
 df.shape

(103, 3)

# Assignment: Part 2

**Read Geospatial data**

In [33]:
ll_data = pd.read_csv('http://cocl.us/Geospatial_data')
ll_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Add latitude/logitude columns to the original dataframe**

In [48]:
df = pd.merge(df, ll_data, on='Postal Code')
df.head()

,Postal Code,Borough,Neighbourhood,Latitude_x,Longitude_x,Latitude_y,Longitude_y
0,M3A,North York,Parkwoods,43.753259,-79.329656,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636,43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763,43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494,43.662301,-79.389494